*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero{
  width: 100%;
  height: 100vh;
  background-image:url("a.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.tarun img{
  width: 80px;
  animation:taru 5s linear infinite;
}
.tarun{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70px;
}

@keyframes taru{
  0% {
    transform: translateY(0);
    opacity: 0;
  }
 
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
  .tarun img:nth-child(1) {
    width: 35px;
  animation-delay: 2s;
}
.tarun img:nth-child(2) {
  width: 40px;
  animation-delay: 3s;
}
.tarun img:nth-child(3) {
  width: 20px;
  animation-delay: 1.5s;
}
.tarun img:nth-child(4) {
  width: 20px;
  animation-delay: 4s;
}
.tarun img:nth-child(5) {
  width: 35px;
  animation-delay: 1s;
}
.tarun img:nth-child(6) {
  width: 44px;
  animation-delay: 2.6s;
}
.aboutme
{
    background-color: #55f400;
    border: 5px solid rgb(222, 11, 246);
    padding:100px;
    margin: 10px left;
    width: 25%;
    text-align: left;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(4, 42, 255);
    font-weight: bold;


}
.next{
  padding: 20px;
  margin: 1px left;
  width: 20%;
  text-align: left;

}

